.box{
	min-height: 400px;
}
.box1{
	background-image: linear-gradient(to top, #020a16, #042646, #00407c, #005ab6, #1274f2);
}
.box2{
	background-image:linear-gradient(rgba(0,0,0,0.3), #020a16), url(../img/1.jpg);
	background-repeat: no-repeat;
	background-position: cover;
	min-height: 850px;
	margin: 60px 0 0 ;
}
.counter{
	margin:0 159px;
	padding: 40px 10px;
	font-size: 50px;
	
	display: inline-block;

}
img{
	margin: 30px 450px;
}